.about-section {
  background-color: #f6b3ce; /* Light pink background */
  color: #333; /* Text color */
}

.profile-photo {
  width: 50%;
  max-width: 800px; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(252, 152, 223, 0.1); 
}

.btn-custom {
  background-color: #f43494; /* Pink button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #ff1493; /* Darker pink on hover */
  color: #fff;
  transform: scale(1.05); /* Slight zoom effect */
}

h2 {
  font-weight: bold;
}

.lead {
  font-size: 18px;
}
